* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background: #111;
    color: white;
    overflow: hidden;
}

.navbar {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #222;
    border-bottom: 1px solid #333;
}

.navbar h1 {
    font-size: 18px;
    font-weight: normal;
}

.navbar button {
    margin-left: 6px;
    padding: 8px 12px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

main {
    flex: 1;
    display: flex;
}